/*img{
    max-width: 100%;
}*/

/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #EAC926;
}

/* Estilos para el navbar */
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03264C;
  padding: 10px;
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #ebebeb;
  font-size: 12px;
}

/* Estilos para la barra de inicio de sesión */
header nav:last-child ul {
  display: flex;
  justify-content: flex-end;
}

header nav:last-child ul li {
  margin-left: 10px;
}

header nav:last-child ul li a {
  text-decoration: none;
  color: #ebebeb;
  font-size: 12px;
}

/* Estilos para la barra de búsqueda */
header div {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  padding: 10px;
}

header div input[type="search"] {
  border: none;
  background-color: #ebebeb;
  color: #666;
  font-size: 12px;
  width: 200px;
  margin-right: 5px;
}

header div i.fa-magnifying-glass {
  color: #666;
  font-size: 12px;
}

/* Estilos para el menú hamburguesa */
.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03264C;
  padding: 10px;
}

.burger-menu i {
  color: #ebebeb;
  font-size: 24px;
}

/* Estilos para el pie de página */
footer {
  background-color: #03264C;
  color: #ebebeb;
  padding: 20px;
}

footer section {
  text-align: center;
  margin-bottom: 20px;
}

footer h3 {
  font-size: 24px;
}

footer p {
  font-size: 12px;
  margin-bottom: 10px;
}

footer section:last-child {
  margin-bottom: 0;
}

footer i {
  font-size: 2em;
  margin-bottom: 10px;
}
